<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GINORMOUS</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.css">
    <link rel='stylesheet' href="/css/custom.css">
  </head>

  <body>

    <% include ./partials/navbar %>

      <%- body -%>

    <% include ./partials/footer %>

    <% include ./partials/javascriptOnly %>

  </body>
</html>
