
<% layout('layout') -%>
  
<div class="jumbotron" id='navbar-gap'>
  <div class="container">
    <h1> Shop Smart, Save Big!</h1>
    <p>Starting point to creating something unique</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">  
      <h3>Start your search here</h3>
      <p>Signup to Start Buying Now!<p>
    </div>
        
    <div class="col-md-4">
      <h3>Looking for Smart Items?</h3>
      <p>These will appear as you add to your cart</p>
    </div>
       
    <div class="col-md-4">
      <h3>Build a Smart Cart</h3>
      <p>The more Smart Items you buy together, the more you Save :)</p>  
    </div>
        
  </div> <!-- row -->
</div> <!-- container -->


